.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
.idea/workspace.xml
addressbook-web-tests/log-20180407T140711.txt
addressbook-web-tests/log-20180407T140818.txt
addressbook-web-tests/log-20180407T140949.txt
addressbook-web-tests/log-20180407T141647.txt
addressbook-web-tests/log-20180408T215854.txt
addressbook-web-tests/log-20180408T215924.txt
addressbook-web-tests/log-20180408T220409.txt
addressbook-web-tests/log-20180408T220306.txt
addressbook-web-tests/log-20180408T220652.txt
addressbook-web-tests/log-20180408T223241.txt
addressbook-web-tests/log-20180408T222709.txt
addressbook-web-tests/log-20180408T221113.txt
addressbook-web-tests/log-20180408T222210.txt
addressbook-web-tests/log-20180408T222252.txt
addressbook-web-tests/log-20180408T222433.txt
addressbook-web-tests/log-20180408T222514.txt
addressbook-web-tests/log-20180408T222544.txt
addressbook-web-tests/log-20180408T222636.txt
addressbook-web-tests/log-20180408T222937.txt
